/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.s4_block_carousel {
    margin: 20px 0;
    .owl-stage-outer {
        overflow: hidden;
    }
    .owl-stage {
        display: flex;
        align-items: center;
    }
    .owl-item {
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}